process {
    cache = 'lenient'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withName: 'GATK4_MARKDUPLICATES|GATK4_MARKDUPLICATESSPARK' {
        cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
        memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
    }

    withName: 'GATK4_GENOMICSDBIMPORT' {
        cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
        memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
        ext.args        = "--batch-size 50 --reader-threads 1 -ip 500"
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
        memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
        ext.args        = { "-G StandardAnnotation -G AS_StandardAnnotation" }
    }

    withName:'GATK4_APPLYBQSR|GATK4_APPLYBQSR_SPARK|GATK4_BASERECALIBRATOR|GATK4_BASERECALIBRATOR_SPARK|GATK4_GATHERBQSRREPORTS'{
        cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
        memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
    }

    withName:'GATK4_MERGEVCFS'{
        cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
        memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
    	cpus            = { check_max( 1 * task.attempt, 'cpus' ) }
        memory          = { check_max( 8.GB * task.attempt, 'memory' ) }
        ext.args        = { params.joint_germline ? "-ERC GVCF -G StandardAnnotation -G AS_StandardAnnotation -G StandardHCAnnotation" : "" }
    }

    withName: 'VARIANTRECALIBRATOR_INDEL' {
        ext.args        = "-AS -an QD -an MQRankSum -an ReadPosRankSum -an FS -an SOR -an DP -mode INDEL"
    }

    withName: 'VARIANTRECALIBRATOR_SNP' {
        ext.args        = "-AS -an QD -an MQ -an MQRankSum -an ReadPosRankSum -an FS -an SOR -mode SNP"
    }
}

singularity {
	autoMounts   = true
    enabled      = true
    cacheDir     = '/nfs/hgi/singularityContainers/'
}

 executor {
     name = 'lsf'
     queueSize = 4000
     poolSize = 4
     submitRateLimit = '10 sec'
     killBatchSize = 50
     pollInterval = '10 sec'
     queueStatInterval = '20 sec'
     dumpInterval = '10 sec'
     exitReadTimeout= '10 sec'
     perJobMemLimit=true
 }

