/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/sarek -profile test_full_germline,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile for germline VC'
    config_profile_description = 'Full test dataset to check germline VC pipeline function'

    // Input data for full size test
    input = '/lustre/scratch123/hgi/teams/hgi/nextflow_ci_staging/novaseq_eval/novaseq.csv'

    // Other params
    tools = 'strelka,freebayes,haplotypecaller,deepvariant,manta,tiddit,cnvkit,vep'
    fasta = '/lustre/scratch125/humgen/resources/ref/Homo_sapiens/HS38DH/hs38DH.fa'
    fasta_fai = '/lustre/scratch125/humgen/resources/ref/Homo_sapiens/HS38DH/hs38DH.fa.fai'
    dict = '/lustre/scratch125/humgen/resources/ref/Homo_sapiens/HS38DH/hs38DH.dict'
    intervals = '/lustre/scratch125/humgen/resources/ref/Homo_sapiens/HS38DH/wgs_hg38.even.handcurated.20k.FINAL.bed'
    nucleotides_per_second = 40000

    split_fastq = 50000000
}
